*.user
*.exe
*.a
*.lib
*.out
*.ilk
*.exp
*.pdb
*.sln
*.vcxproj
*.vcxproj.*
.cache
hrtf.json

# cmake bullshit
build
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
Debug
ALL_BUILD*
build/external
build/.cmake
build/*ninja*
build/compile_commands.json
lib
*.blend1

*.pyc
*.sofa
**/doc/*
docs/doxygen
docs/_build
docs/_static
docs/_template
