.vs/
*.user
*.exe
*.ilk
*.exp
*.pdb
.vscode
*.sln
*.vcxproj
*.vcxproj.*

# external libs
external/*/.azure-pipelines
external/*/docs
external/*/doc
external/*/examples
external/*/test
external/rtaudio/tests
external/*/contrib
external/*/*.yml

# cmake bullshit
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
Debug
ALL_BUILD*
build/external
build/.cmake
build/*ninja*
build/compile_commands.json
lib
*.blend1