.vs/
*.user
*.exe
*.a
*.lib
*.out
*.ilk
*.exp
*.pdb
.vscode
*.sln
*.vcxproj
*.vcxproj.*


# cmake bullshit
build
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
Debug
ALL_BUILD*
build/external
build/.cmake
build/*ninja*
build/compile_commands.json
lib
*.blend1

*.sofa
*.wav
**/doc/*
